.container {
  max-width: 550px;
  min-width: 320px;
  height: 520px;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.395);
}

input {
  max-width: 300px;
  min-width: 200px;
  border: none;
}

input:hover {
  box-shadow: 1px 9px 27px 0px rgba(0,50,227,0.61);
-webkit-box-shadow: 1px 9px 27px 0px rgba(0,50,227,0.61);
-moz-box-shadow: 1px 9px 27px 0px rgba(0,50,227,0.61);
}

.bi {
  font-size: 1.2rem;
}

.active {
  color: greens;
}

.bi-check-circle-fill:hover {
  color: green;
}

.bi-trash-fill:hover {
  color: red;
}

.check {
  text-decoration: line-through;
}

.todos:hover {
  border: solid rgba(0,50,227,0.61) 4px;
  transform: scale(1.1);
}

.list-group{
  width: 80%;
  margin: 0 auto;
}

.list-group-item{
  min-width: 90%;
}
