.container {
  width: 550px;
  height: 520px;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.395);
}

input {
  border: none;
}

input:hover {
  box-shadow: 1px 9px 27px 0px rgba(0,50,227,0.61);
-webkit-box-shadow: 1px 9px 27px 0px rgba(0,50,227,0.61);
-moz-box-shadow: 1px 9px 27px 0px rgba(0,50,227,0.61);
}

.bi {
  font-size: 1.2rem;
}

.bi-check-circle-fill:hover {
  color: green;
}

.bi-trash-fill:hover {
  color: red;
}

